body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ded78e, #71abd2);
}


#analogClock{
    font-family: Arial;
    text-align: center;
    color: #861010;
    font-size: large;
}

#clock{
    display: flex;
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #eaa1db;
    border: none;
    box-shadow: 0 0 30px rgba(72, 4, 70, 0.5);
}  

.number {
  position: absolute;
  top: 46%;
  left: 48%;
  transform-origin: center;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 10px;
  z-index: 1;
}

#hour{
    width: 6px;
    height:60px;
    background: #fff;
}

#minute{
    width: 4px;
    height:90px;
    background:#ffd166;
}

#second{
    width: 2px;
    height:110px;
    background:#ef476f;
}

.btn { 
    margin: 20px;
    margin-top:50px;
    width: 60px ;
    height:30px;
    border-radius: 50%;
    border: none;
    font-weight: 100;
}

#start{
    background: #11e622;
    font-size: medium;
}

#stop{
    background: #f84040;
    font-size: medium;
}

#start:active{
    background: #03570a;
    color: #fff;
}

#start:hover{
    box-shadow: 10px -8px 40px 4px  #11e622;;
}

#stop:active{
    background: #861010;
    color: #fff;
}

 #stop:hover{
    box-shadow: 10px -8px 40px 4px  #f84040;;
}

