html {
  scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#analogClock{
    background: linear-gradient(135deg, #ded78e, #71abd2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Arial;
    text-align: center;
    color: #861010;
    font-size: large;
}

.box{
    position: absolute;
    z-index: 14;
    top: 30%;
    left:50%;
    height: 1.5em;
    width: 6em;
    display: flex;              
    justify-content: center;    
    align-items: center;        
    gap: 1px 5px;
    border-radius: 10px 10px;    

}

.digiHour, .digiMIn, .digiSec{
    height: 1.5rem;
    width: 1.2rem;
    background: #0c6d3b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    border-radius: 10px;
}

h2{
    font-family: Arial;
    text-align: center;
    color: #861010;
    font-size: 30px;
    margin-bottom: 50px;
}
#clock{
    display: flex;
    position: relative;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background: #eaa1db;
    border: none;
    box-shadow: 0 0 30px rgba(72, 4, 70, 0.5);
}  

.number {
  position: absolute;
  top: 46%;
  left: 48%;
  transform-origin: center;
  font-size: 16px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
  border-radius: 10px;
  z-index: 1;
}

#hour{
    width: 6px;
    height:60px;
    background: #fff;
}

#minute{
    width: 4px;
    height:90px;
    background:#ffd166;
}

#second{
    width: 2px;
    height:110px;
    background:#ef476f;
}

.btn { 
    margin: 20px;
    margin-top:50px;
    width: 60px ;
    height:30px;
    border-radius: 50%;
    border: none;
    font-weight: 100;
}

.start{
    background: #11e622;
    font-size: medium;
}

.stop{
    background: #f84040;
    font-size: medium;
}

.reset{
    background: #aee52c;
    font-size: medium;
}

.start:active{
    background: #03570a;
    color: #fff;
}

.start:hover{
    box-shadow: 10px -8px 40px 4px  #11e622;
    cursor:pointer;
}

.reset:active{
    background: #4a650c;
    color: white;
}

.stop:active{
    background: #861010;
    color: #fff;
}

 .stop:hover{
    box-shadow: 10px -8px 40px 4px  #f84040;
    cursor:pointer;
}

.reset:hover{
    box-shadow: 10px -8px 40px 4px  #aee52c;
    cursor:pointer;
}
.timer{
    background: linear-gradient(135deg, #a1fbc6, #d37678);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timerBox{
    position: relative;
    height: 4em;
    width: 15em;
    background: rgb(231, 92, 217);
    display: flex;              
    justify-content: center;    
    align-items: center;        
    gap: 10px 20px;
    border-radius: 10px 20px; 
}

.TimerHour , .TimerMIn , .TimerSec ,#CHour ,#CMin, #CSec{
    height: 2rem;
    width: 3rem;
    background: #27e181;
    color: white;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    border-radius: 10px;

}

.countdown{
       background: linear-gradient(135deg, #a1fbc6, #d37678);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;; 
}



input {
  width: 60px;
  padding: 8px;

  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
}


input:focus {
  border: 2px solid #ff4d4d;
  box-shadow: 0 0 8px rgba(255, 77, 77, 0.5);
}


input:hover {
  border-color: #888;
}

